#!groovy
import jenkins.*
import huson.*
import hudson.security.*
import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*;
import hudson.model.*
import jenkins.model.*
import jenkins.security.ApiTokenProperty;
// import hudson.util.Secret;
import hudson.security.*;
import jenkins.security.*;

def instance = Jenkins.getInstance()
instance.setNumExecutors(5)
instance.setSlaveAgentPort([55000])
println "--> Checking if security has been set already"

if (!instance.isUseSecurity()) {
    println "--> creating local user 'admin'"

    def hudsonRealm = new HudsonPrivateSecurityRealm(false)
    hudsonRealm.createAccount('{{ jenkins_admin_user }}', '{{ jenkins_admin_password }}')
    instance.setSecurityRealm(hudsonRealm)

    def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
    instance.setAuthorizationStrategy(strategy)
    instance.save()
}

// update user password
user = hudson.model.User.get("admin")
user.setFullName("admin")
password = hudson.security.HudsonPrivateSecurityRealm.Details.fromPlainPassword("{{ jenkins_admin_password }}")
user.addProperty(password)
user.save()

// load a list of credentials from jenkins and
// search result to see if user jenkins exists
// create a global credential that bases on SSH key. The private key is created and managed by Ansible
String keyfile = "{{ jenkins_sshkey_file }}"
global_domain = Domain.global()
credential_store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()
credential = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    null,
    "jenkins",
    new BasicSSHUserPrivateKey.FileOnMasterPrivateKeySource(keyfile),
    "{{ sshkey_passphrase }}",
    "Ansible Managed SSH credential")
credential_store.addCredentials(global_domain, credential)

def creds = com.cloudbees.plugins.credentials.CredentialsProvider.lookupCredentials(
    com.cloudbees.plugins.credentials.common.StandardUsernameCredentials.class,
    jenkins.model.Jenkins.instance,
    null,
    null
)

def found_credential = creds.findResult { it.username == "jenkins" ? it : null }
if ( found_credential ) {
    def jenkins_credential_file = new File("{{ jenkins_home }}/jenkins_credential.txt")
    jenkins_credential_file << "${found_credential.id}"
}

// configure git commiter information
def desc = instance.getDescriptor("hudson.plugins.git.GitSCM")
desc.setGlobalConfigName('{{ jenkins_git_commiter_name }}')
desc.setGlobalConfigEmail('{{ jenkins_git_commiter_email }}')
desc.save()

// configure jenkins security
def strategy = new GlobalMatrixAuthorizationStrategy()

strategy.add(Jenkins.READ,'authenticated')
strategy.add(Item.READ,'authenticated')
strategy.add(Item.DISCOVER,'authenticated')
strategy.add(Item.CANCEL,'authenticated')
strategy.add(Item.BUILD, 'authenticated')

// configure admin account security
strategy.add(Jenkins.ADMINISTER, "admin")

// set strategy for a given instance
instance.setAuthorizationStrategy(strategy)

instance.save()

// now we need to configure scm sync plugin
// these are libraries necessary to configure scm-sync plugin
import hudson.plugins.scm_sync_configuration.xstream.migration.DefaultSSCPOJO
import hudson.plugins.scm_sync_configuration.scms.*
import hudson.plugins.scm_sync_configuration.ScmSyncConfigurationPlugin
import net.sf.json.JSONObject
import org.kohsuke.stapler.StaplerRequest
import groovy.mock.interceptor.MockFor
import org.jenkinsci.plugins.*

// create a mock object
def mock = [
  getParameter: {
    key -> switch(key) {
      case 'gitRepositoryUrl':
        return "git@github:{{ jenkins_github_repo }}"
      case 'commitMessagePattern':
        return 'Sync: [message]'
      case 'scm':
        return 'hudson.plugins.scm_sync_configuration.scms.ScmSyncGitSCM'
      default:
        return null
    }
  },
  getParameterValues: {
    return null
  }
] as StaplerRequest

def data = new DefaultSSCPOJO()
data.setScmRepositoryUrl("git@github:{{ jenkins_github_repo }}")
data.setScm(SCM.valueOf(ScmSyncGitSCM.class))
data.setNoUserCommitMessage(false)
data.setDisplayStatus(true)
data.setCommitMessagePattern('Sync: [message]')

def jsonObj = new JSONObject()
jsonObj.put('noUserCommitMessage', 'false')
jsonObj.put('displayStatus', 'true')

def scmSyncPlugin = instance.getPlugin('scm-sync-configuration')

if ( {{ jenkins_sync_repo_empty }} ) {
  scmSyncPlugin.configure(mock, jsonObj)
}
else {
  scmSyncPlugin.loadData(data)
  scmSyncPlugin.business.reloadAllFilesFromScm()
  scmSyncPlugin.business.synchronizeAllConfigs(ScmSyncConfigurationPlugin.AVAILABLE_STRATEGIES)
  instance.save()
}

// start create jenkins-job-builder account
void create_or_update_user(String username, String email, String password, String fullname, String public_keys) {
   def user = hudson.model.User.get(username)
   user.setFullName(fullname)

   def email_param = new hudson.tasks.Mailer.UserProperty(email)
   user.addProperty(email_param)

   def pw_param = hudson.security.HudsonPrivateSecurityRealm.Details.fromPlainPassword(password)
   user.addProperty(pw_param)

   if ( public_keys != "" ) {
     def keys_param = new org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl(public_keys)
     user.addProperty(keys_param)
   }

   user.save()
}

create_or_update_user(
   'jenkins-job-builder',
   '{{ jenkins_job_builder_email }}',
   '{{ jenkins_job_builder_password }}',
   'operational jenkins',
   ''
)

strategy.add(Jenkins.READ, 'jenkins-job-builder')
strategy.add(Item.READ, 'jenkins-job-builder')
strategy.add(Item.CANCEL, 'jenkins-job-builder')
strategy.add(Item.BUILD, 'jenkins-job-builder')

User jbb = User.get('jenkins-job-builder')
ApiTokenProperty jbbApiTokenProperty = jbb.getProperty(ApiTokenProperty.class)
jenkins.security.ApiTokenProperty.class
def jbbApiToken = jbbApiTokenProperty.getApiToken()
def jbbApiTokenFile = new File('{{ jenkins_home }}/jbb.txt')
println "api token -> ${jbbApiToken}"

if ( ! jbbApiTokenFile.exists() ) {
    jbbApiTokenFile << "${jbbApiToken}"
}
